nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}

nav.navbar.scrolled .navbar-nav a.nav-link.navbar-link {
  color: white;
  opacity: 1;
}

nav.navbar.scrolled .navbar-nav a.nav-link.navbar-link.active {
  color: #30c7b5;
}

nav.navbar.scrolled .connect-button {
  border: solid 1px rgba(255, 255, 255, 1);
}

nav.navbar.scrolled .social-icon a {
  background: rgba(255, 255, 255, 0.9);
}

nav.navbar.scrolled .navbar-text button {
  font-weight: 700;
  color: white;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
nav.navbar.scrolled .navbar-text button span {
  z-index: 1;
}
nav.navbar.scrolled .navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: black;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
nav.navbar.scrolled .navbar-text button:hover {
  color: black;
  background-color: white;
}

nav.navbar.scrolled .connect-button {
  border: solid 2px rgba(255, 255, 255, 1);
  border-radius: 10px;
}
